{
  "database": "./info.db",
  "delay": 1000,
  "users": [
    {
      "name": "<OPTIONAL>",
      "type": "<PUSHOVER/PUSHBULLET/PROWL/TEST>",
      "options": {
        "token": "<SERVICE_TOKEN>",
        "id": "<IDENTIFIER>"
      },
      "feeds": [
        "http://steamcommunity.com/games/295110/rss/",
        "http://steamcommunity.com/games/252950/rss/",
        "http://www.amxmodx.org/rss2.php?amount=10"
      ]
    }
  ]
}
